* {
    font-size: 100%;
}

html {
    font-family : Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, "Sans-serif";
    max-width: 900px;
    margin: 0 auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    height: auto;
}

pre {
    background-color: #393939;
    color: white;
    max-width:100%;
    height:auto;
    overflow: scroll;
    padding: 1ch;
    padding-left: 2ch;
}

code {
    font-weight: bold;
    background-color: #f2f2f5;
    color: #393939;
    border-radius: 0.5ch;
    padding-left: 0.3ch;
    padding-right: 0.3ch;
}

blockquote {
    background-color: #f2f2f5;
    color: #393939;
    font-style: italic;
    text-align: justify;
    padding: 2ch;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0ch;
    margin-bottom: 2ch;
}

h1 {
    font-weight: bold;
    font-size: 140%;
}

h2 {
    font-weight: bold;
    font-size: 120%;
}

h3 {
    color: #393939;
    font-weight: bold;
}
